<label>Enter Username: <input id="username" type="text" name="username"></label>
<br>
<br>
<label>Enter Password: <input id="password" type="password" name="password"></label>
<br>
<br>
<br>
<input id="loginSubmit" type="button" value="Log In" onclick="logIn()">
&nbsp;
<input id="backBtn" type="button" value="Back" onclick="restore()">