<label>Title: <input type="Text" id="ttl"></label>
<br>
<br>
<label>Background Color: <input type="color" id="bgrColor"></label>
<br>
<br>
<label>Break Color: <input type="color" id="hrColor"></label>
<br>
<br>
<label>Typeface: <select id= "typeface">
    <option value= "Comic Sans MS" >Comic Sans MS</option>
    <option value= "Arial">Arial</option>
    <option value= "Times New Roman" >Times New Roman</option>
    <option value= "Lucida Console" >Lucida Console</option>
    <option value= "Impact" >Impact </option>
    <option value= "Tahoma" >Tahoma</option>
    <option value= "Trebuchet MS" >Trebuchet MS</option>
    <option value= "Lucida Sans Unicode" >Lucida Sans Unicode</option>
    <option value= "Arial Black" >Arial Black</option>
    <option value= "Georgia" >Georgia</option>
    <option value= "Palatino Linotype" >Palatino Linotype</option>

</select>
</label>
<br>
<br>
<label>Title Color: <input type="color" id="ttlColor"></label>
<br>
<br>
<label>Text Color: <input type="color" id="txtColor"></label>
<br>
<br>
<br>
<br>
<input type="button" value="Change" onclick="changeCustom()">
&nbsp;
<input type="button" value="Preview" onclick="preview()">
&nbsp;
<input type="button" value="Clear" onclick="clearStyle()">
&nbsp;
<input id="backBtn" type="button" value="Back" onclick="restoreUser()">