<input type="button" onclick= "imagePostForm()" value="Image">
&nbsp; 
<input type="button" onclick= "textPostForm()" value="Text">
&nbsp; 
<input type="button" onclick= "linkPostForm()" value="Link">
&nbsp; 
<input type="button" onclick= "videoPostForm()" value="Video">
&nbsp; 
<input type="button" onclick= "customizeForm()" value="Customize">