<form enctype="multipart/form-data" action="MySQL/Post/postImage.php" method="POST">
    
    <input type="file" name="imageFile">
    <br><br>
    <textarea name= "imageTitle" rows="2" cols="60" placeholder="Title"></textarea>
    <br><br>
    <textarea name= "imageText" rows="5" cols="60" placeholder="Caption(Optional)"></textarea>
    <br><br>
    <input type="submit" value="Upload">
    &nbsp;
    <input id="backBtn" type="button" value="Back" onclick="restoreUser()">
    
</form>


