<textarea id= "linkURL" rows="2" cols="60" placeholder="URL"></textarea>
<br><br>
<textarea id= "linkTitle" rows="2" cols="60" placeholder="Title"></textarea>
<br><br>
<textarea id= "linkText" rows="4" cols="60" placeholder="Commentary"></textarea>
<br><br>
<input type="button" value="Submit Link" id="uploadBtn" onclick="postLink()">
&nbsp;
<input id="backBtn" type="button" value="Back" onclick="restoreUser()">