<textarea id= "textTitle" rows="2" cols="60" placeholder="Title"></textarea>
<br><br>
<textarea id= "textText" rows="5" cols="60" placeholder="Insert post here"></textarea>
<br> <br>
<input type="button" value="Upload" id="uploadBtn" onclick="postText()">
&nbsp;
<input id="backBtn" type="button" value="Back" onclick="restoreUser()">