<textarea id= "videoURL" rows="2" cols="60" placeholder="Youtube Link"></textarea>
<br><br>
<textarea id= "videoTitle" rows="2" cols="60" placeholder="Title"></textarea>
<br><br>
<textarea id= "videoText" rows="4" cols="60" placeholder="Commentary"></textarea>
<br><br>
<input type="button" value="Submit Video" id="uploadBtn" onclick="postVideo()">
&nbsp;
<input id="backBtn" type="button" value="Back" onclick="restoreUser()">